<nav>
    <ul class="nav">
      <a href="" class="btn btn-danger btn-block">Nouveau message</a>
  
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Boîte de réception <span class="badge bg-danger">{{this.numberOfMails}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" href="#"><i class="fa fa-star"></i> Messages suivis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" href="#"><i class="fa fa-rocket"></i> Messages envoyés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" href="#"><i class="fa fa-trash-o"></i> Corbeille</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" href="#"><i class="fa fa-bookmark"></i> Important</a>
        </li>
  
          <!-- BOUTON AIDE -->
          <button class="btn btn-primary mt-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Aide</button>
          <button class="btn btn-danger mt-5" type="button" (click)="effacerScore()">Effacer le score</button>

          <div class="offcanvas offcanvas-start me-5" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
              <!-- OFF CANVA -->
              <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Aide</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body p-3">
                  <p><b>Quelques conseils :</b></p>
                  <ul>
                      <li><u>Vérifier l'expéditeur</u>
                          <ul>
                              <li>Vérifier l’adresse mail qui vous a envoyé le message</li>
                              <li>Vérifier le nom de domaine de l’adresse mail</li>
                              <li>Le mail vient-il d’une entreprise qui existe et fiable ?</li>
                          </ul>
                      </li>
  
                      <li><u>Vérifier la pièce jointe</u>
                          <ul>
                              <li>Ne pas ouvrir un fichier en .exe</li>
                              <li>Faire attention aux fichiers word ou archive zip</li>
                              <li>Activer l’antivirus et tenir compte de ses alertes</li>
                          </ul>
                      </li>
  
                      <li><u>Vérifier le contenu</u>
                          <ul>
                              <li>Faire attention aux fautes d'orthographe</li>
                              <li>Ne pas cliquer sur les liens suspects</li>
                              <li>Faire attention a ce est décrit comme urgent</li>
                              <li>Certaines choses sont trop belles pour être vraies</li>
                          </ul>
                      </li>                    
                  </ul>
                  <div class="text-center mt-3">
                      <a class="btn btn-info text-center" href="https://docs.google.com/document/d/1SU8Eg8QwE_M7C8R0t8bp_Ru7gZzIZCEzRGLuItf6sUY/edit" target="_blank">La fiche complète</a>
                  </div>
                  
              </div>
          </div>
  </ul>
    
  </nav>