<nav>
  <a href="page-inbox-compose.html" class="btn btn-danger btn-block">Nouveau message</a>
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Boîte de réception <span class="badge badge-danger">4</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-star"></i> Messages suivis</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-rocket"></i> Messages envoyés</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-trash-o"></i> Corbeille</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-bookmark"></i> Important</a>
      </li>
  </ul>
</nav>