<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="details" *ngIf="mail">
  <div class="title">{{ mail.objet }}</div>
  <div class="header">
    <img class="avatar" [src]="mail.imageEntreprise" alt="Image associée à l'e-mail">

    <div class="from">
      <span>{{ mail.nomExpediteur }}</span>
      {{ mail.expediteur }}
    </div>
    <div class="date"><b>{{ mail.heure }}</b></div>
  </div>
  <div class="content">
    <p>
      {{ mail.contenu1 }}
    </p>
    <blockquote>
      {{ mail.contenu2 }}
    </blockquote>
    <li><a href="{{ mail.lienDuSite }}">{{ mail.lienDuSite }}</a>
  </div>
  <div class="attachments">
    <div *ngIf="mail.pieceJointe" class="attachment">
      <span class="badge badge-danger">{{ mail.typePieceJointe }}</span>
      <b>{{ mail.pieceJointe }}</b>&nbsp;<i>({{ mail.taillePieceJointe }})</i>
      <span class="menu">
        <a href="#" class="fa fa-search"></a>
        <a href="#" class="fa fa-share"></a>
        <a href="#" class="fa fa-cloud-download"></a>
      </span>
    </div>
    
  </div>
  <div class="scams-game">
    <ng-container *ngIf="!mail.statusReponse && !buttonClicked">
      <p>Ce mail est une arnaque ?</p>

      <button (click)="checkScam(true); buttonClicked = true;" class="btn btn-success mr-2">True</button>
      <button (click)="checkScam(false); buttonClicked = true;" class="btn btn-danger">False</button>
    </ng-container>

    <div *ngIf="answerMessage" [ngClass]="messageClass">
      <p>{{ answerMessage }}</p>
      <p>{{ mail.explication }}</p>
    </div>

  </div>


</div>